-Xms4g -Xmx8g -XX:+UseZGC -XX:+ZGenerational -XX:+UseCompactObjectHeaders -XX:+UseStringDeduplication -XX:MetaspaceSize=256m -XX:MaxMetaspaceSize=512m -XX:+TieredCompilation -XX:TieredStopAtLevel=4 -XX:CompileThreshold=10000 -Djava.util.concurrent.ForkJoinPool.common.parallelism=15 -Djdk.virtualThreadScheduler.parallelism=16 -Djdk.tracePinnedThreads=short -Dfile.encoding=UTF-8 --enable-preview -Dmaven.build.cache.enabled=true -Dmaven.artifact.threads=8
