-Xms8g -Xmx16g
-XX:+UseZGC
-XX:+UseStringDeduplication
-XX:MetaspaceSize=512m
-XX:MaxMetaspaceSize=1g
-XX:+TieredCompilation
-XX:TieredStopAtLevel=4
-XX:CompileThreshold=5000
-XX:+UseCompressedOops
-XX:+UseCompressedClassPointers
-Djava.util.concurrent.ForkJoinPool.common.parallelism=31
-Djdk.virtualThreadScheduler.parallelism=32
-Djdk.tracePinnedThreads=short
-Dfile.encoding=UTF-8
--enable-preview
-Dmaven.artifact.threads=16
-Dmaven.artifact.threads.max=32
