[submodule "vendors/yawl-v5.2"]
	path = vendors/yawl-v5.2
	url = https://github.com/yawlfoundation/yawl.git
[submodule "vendors/ggen"]
	path = vendors/ggen
	url = https://github.com/seanchatmangpt/ggen.git
