.idea/*
classes/
output/
temp/
build/logs/
exampleSpecs/xml/*.xsd
src/org/yawlfoundation/yawl/unmarshal/*.xsd

!/src/org/yawlfoundation/yawl/balancer/output/
logs/
build/jar/*.jar
reports/
test/shell/03-build-verification/build.log
