---
# PostgreSQL Installation and Configuration Tasks

- name: Include OS-specific variables
  include_vars: "{{ ansible_os_family }}.yml"

- name: Install PostgreSQL repository
  shell: |
    curl -fsSL https://www.postgresql.org/media/keys/ACCC4CF8.asc | apt-key add -
    echo "deb http://apt.postgresql.org/pub/repos/apt $(lsb_release -cs)-pgdg main" | tee /etc/apt/sources.list.d/pgdg.list
  when: ansible_os_family == "Debian"

- name: Update apt cache
  apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Install PostgreSQL and dependencies
  apt:
    name:
      - "postgresql-{{ postgres_version }}"
      - "postgresql-contrib-{{ postgres_version }}"
      - postgresql-client
      - libpq-dev
      - python3-psycopg2
      - pg-stat-kcache
      - pgbackrest
      - pgbouncer
    state: present

- name: Enable PostgreSQL service
  systemd:
    name: postgresql
    enabled: yes
    state: started

- name: Create PostgreSQL backup directory
  file:
    path: "{{ postgres_backup_dir }}"
    state: directory
    owner: postgres
    group: postgres
    mode: '0750'

- name: Create WAL archive directory
  file:
    path: "{{ postgres_wal_backup_dir }}"
    state: directory
    owner: postgres
    group: postgres
    mode: '0750'

- name: Create PostgreSQL SSL directory
  file:
    path: /etc/postgresql/{{ postgres_version }}/main/certs
    state: directory
    owner: postgres
    group: postgres
    mode: '0700'

- name: Configure PostgreSQL postgresql.conf
  template:
    src: postgresql.conf.j2
    dest: "/etc/postgresql/{{ postgres_version }}/main/postgresql.conf"
    owner: postgres
    group: postgres
    mode: '0644'
    backup: yes
  notify: restart postgresql

- name: Configure PostgreSQL pg_hba.conf
  template:
    src: pg_hba.conf.j2
    dest: "/etc/postgresql/{{ postgres_version }}/main/pg_hba.conf"
    owner: postgres
    group: postgres
    mode: '0640'
    backup: yes
  notify: restart postgresql

- name: Configure pgBouncer
  template:
    src: pgbouncer.ini.j2
    dest: /etc/pgbouncer/pgbouncer.ini
    owner: postgres
    group: postgres
    mode: '0600'
    backup: yes
  notify: restart pgbouncer

- name: Create pgBouncer userlist
  template:
    src: pgbouncer-users.txt.j2
    dest: /etc/pgbouncer/userlist.txt
    owner: postgres
    group: postgres
    mode: '0600'
    backup: yes
  notify: restart pgbouncer

- name: Install and configure SSL certificates
  include_tasks: ssl.yml
  when: postgres_ssl_enabled

- name: Flush PostgreSQL handlers to apply configuration
  meta: flush_handlers

- name: Wait for PostgreSQL to be ready
  wait_for:
    port: "{{ postgres_port }}"
    delay: 2
    timeout: 30

- name: Create YAWL database
  postgresql_db:
    name: "{{ postgres_database }}"
    owner: "{{ postgres_user }}"
    state: present
  become_user: postgres

- name: Create YAWL database user
  postgresql_user:
    name: "{{ postgres_user }}"
    password: "{{ postgres_password }}"
    db: "{{ postgres_database }}"
    priv: "ALL"
    state: present
  become_user: postgres

- name: Create monitoring user
  postgresql_user:
    name: "{{ postgres_monitoring_user }}"
    password: "{{ postgres_monitoring_password }}"
    role_attr_flags: NOSUPERUSER,NOREPLICATION
    state: present
  become_user: postgres

- name: Grant monitoring user privileges
  postgresql_query:
    db: "{{ postgres_database }}"
    query: |
      GRANT USAGE ON SCHEMA pg_catalog TO {{ postgres_monitoring_user }};
      GRANT SELECT ON pg_stat_activity TO {{ postgres_monitoring_user }};
      GRANT SELECT ON pg_stat_database TO {{ postgres_monitoring_user }};
      GRANT SELECT ON pg_stat_replication TO {{ postgres_monitoring_user }};
      GRANT SELECT ON pg_class TO {{ postgres_monitoring_user }};
      GRANT SELECT ON pg_index TO {{ postgres_monitoring_user }};
      GRANT SELECT ON pg_database_size(oid) TO {{ postgres_monitoring_user }};
  become_user: postgres

- name: Create PostgreSQL extensions
  postgresql_ext:
    name: "{{ item.name }}"
    db: "{{ item.database }}"
    state: present
  loop: "{{ postgres_extensions }}"
  become_user: postgres

- name: Initialize YAWL database schema
  postgresql_query:
    db: "{{ postgres_database }}"
    query: "{{ lookup('file', 'init-database.sql') }}"
  become_user: postgres
  when: postgres_replication_role == 'primary'
  ignore_errors: yes

- name: Configure replication for primary
  include_tasks: replication-primary.yml
  when: postgres_replication_role == 'primary'

- name: Configure replication for standby
  include_tasks: replication-standby.yml
  when: postgres_replication_role == 'standby'

- name: Install PostgreSQL monitoring exporter
  include_tasks: monitoring.yml
  when: postgres_monitoring_enabled

- name: Configure automated backups
  template:
    src: pgbackrest.conf.j2
    dest: /etc/pgbackrest.conf
    owner: postgres
    group: postgres
    mode: '0600'
    backup: yes
  when: postgres_backup_enabled

- name: Setup backup cron job
  cron:
    name: "PostgreSQL backup"
    minute: "0"
    hour: "3"
    day: "*"
    month: "*"
    weekday: "*"
    job: "pgbackrest backup --type=incr 2>&1 | logger -t pgbackrest"
    user: postgres
  when: postgres_backup_enabled

- name: Verify PostgreSQL installation
  postgresql_query:
    db: "{{ postgres_database }}"
    query: "SELECT version();"
  register: postgres_version_check
  become_user: postgres

- name: Display PostgreSQL version
  debug:
    msg: "PostgreSQL installed: {{ postgres_version_check.query_result[0]['version'] }}"
