<?xml version="1.0" encoding="UTF-8"?>
<Context
    sessionCookiePath="/"
    sessionCookieName="JSESSIONID"
    useHttpOnly="true"
    useSessionCookies="true">

  <!-- Resource for Cloud SQL connection -->
  <Resource
      name="jdbc/YAWLDB"
      auth="Container"
      type="javax.sql.DataSource"
      driverClassName="org.postgresql.Driver"
      url="jdbc:postgresql://${YAWL_DB_HOST}:${YAWL_DB_PORT}/${YAWL_DB_NAME}"
      username="${YAWL_DB_USER}"
      password="${YAWL_DB_PASSWORD}"
      maxActive="20"
      maxIdle="10"
      maxWait="30000"
      validationQuery="SELECT 1"
      testOnBorrow="true"
      testOnReturn="true"
      testWhileIdle="true"
      timeBetweenEvictionRunsMillis="30000"
      minEvictableIdleTimeMillis="60000"/>
</Context>
