{#
 YAWL Condition Template
 Generates YCondition subclass for Petri net places with identifier bags.

 Context Variables:
   - class_name: Name of the generated class (e.g., YInputCondition, YOutputCondition)
   - package: Java package name
   - is_input: boolean for input condition
   - is_output: boolean for output condition
   - is_implicit: boolean for implicit condition
   - custom_fields: Array of additional field definitions
   - custom_methods: Array of additional method definitions
 #}
/*
 * Copyright (c) 2004-{{ "now" | date(format="%Y") }} The YAWL Foundation. All rights reserved.
 * The YAWL Foundation is a collaboration of individuals and
 * organisations who are committed to improving workflow technology.
 *
 * This file is part of YAWL. YAWL is free software: you can
 * redistribute it and/or modify it under the terms of the GNU Lesser
 * General Public License as published by the Free Software Foundation.
 *
 * YAWL is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
 * or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General
 * Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with YAWL. If not, see <http://www.gnu.org/licenses/>.
 */

package {{ package }};

import org.yawlfoundation.yawl.elements.YCondition;
import org.yawlfoundation.yawl.elements.YNet;
import org.yawlfoundation.yawl.elements.state.YIdentifier;
import org.yawlfoundation.yawl.engine.YPersistenceManager;
import org.yawlfoundation.yawl.exceptions.YPersistenceException;
import org.yawlfoundation.yawl.util.YIdentifierBag;
import org.yawlfoundation.yawl.util.YVerificationHandler;

import java.util.List;

/**
 * {{ class_name }} - Auto-generated YAWL Condition
 *
{% if is_input %}
 * Input condition - entry point for workflow net.
{% endif %}
{% if is_output %}
 * Output condition - exit point for workflow net.
{% endif %}
{% if documentation %}
 * {{ documentation }}
{% endif %}
 *
 * @generated by yawl-java-templates
 */
public class {{ class_name }} extends YCondition implements YConditionInterface {

    protected YIdentifierBag _bag;
    {% if is_implicit is defined %}
    private boolean _isImplicit = {{ is_implicit }};
    {% else %}
    private boolean _isImplicit;
    {% endif %}

    {% for field in custom_fields %}
    {{ field.modifier | default(value="private") }} {{ field.type }} {{ field.name }};
    {% endfor %}

    // CONSTRUCTORS //

    /**
     * Creates a new {{ class_name }} with id and label.
     * @param id the condition identifier
     * @param label the condition label/name
     * @param container the containing net
     */
    public {{ class_name }}(String id, String label, YNet container) {
        this(id, container);
        _name = label;
    }

    /**
     * Creates a new {{ class_name }} with id only.
     * @param id the condition identifier
     * @param container the containing net
     */
    public {{ class_name }}(String id, YNet container) {
        super(id, container);
        _bag = new YIdentifierBag(this);
    }

    /******************************************************************************/

    // IMPLICIT FLAG //

    public void setImplicit(boolean isImplicit) {
        _isImplicit = isImplicit;
    }

    public boolean isImplicit() {
        return _isImplicit;
    }

    /******************************************************************************/

    // IDENTIFIER MANAGEMENT //

    public void add(YPersistenceManager pmgr, YIdentifier identifier) throws YPersistenceException {
        _bag.addIdentifier(pmgr, identifier);
    }

    public boolean contains(YIdentifier identifier) {
        return _bag.contains(identifier);
    }

    public boolean containsIdentifier() {
        return _bag.getIdentifiers().size() > 0;
    }

    public int getAmount(YIdentifier identifier) {
        return _bag.getAmount(identifier);
    }

    public List<YIdentifier> getIdentifiers() {
        return _bag.getIdentifiers();
    }

    public YIdentifier removeOne(YPersistenceManager pmgr) throws YPersistenceException {
        YIdentifier identifier = getIdentifiers().get(0);
        _bag.remove(pmgr, identifier, 1);
        return identifier;
    }

    public void removeOne(YPersistenceManager pmgr, YIdentifier identifier) throws YPersistenceException {
        _bag.remove(pmgr, identifier, 1);
    }

    public void remove(YPersistenceManager pmgr, YIdentifier identifier, int amount) throws YPersistenceException {
        _bag.remove(pmgr, identifier, amount);
    }

    public void removeAll(YPersistenceManager pmgr, YIdentifier identifier) throws YPersistenceException {
        _bag.remove(pmgr, identifier, _bag.getAmount(identifier));
    }

    public synchronized void removeAll(YPersistenceManager pmgr) throws YPersistenceException {
        _bag.removeAll(pmgr);
    }

    /******************************************************************************/

    // VERIFICATION //

    @Override
    public void verify(YVerificationHandler handler) {
        super.verify(handler);

        {% for field in custom_fields %}
        {% if field.required %}
        if ({{ field.name }} == null) {
            handler.error(this, this + " requires {{ field.name }} to be set.");
        }
        {% endif %}
        {% endfor %}
    }

    public boolean isAnonymous() {
        return _name == null;
    }

    /******************************************************************************/

    // CLONE //

    @Override
    public Object clone() throws CloneNotSupportedException {
        YNet copyContainer = _net.getCloneContainer();
        if (copyContainer.getNetElements().containsKey(this.getID())) {
            return copyContainer.getNetElement(this.getID());
        }
        {{ class_name }} copiedCondition = ({{ class_name }}) super.clone();
        copiedCondition._bag = new YIdentifierBag(copiedCondition);
        return copiedCondition;
    }

    /******************************************************************************/

    // XML SERIALIZATION //

    @Override
    public String toXML() {
        String tag = "{{ xml_tag | default(value="condition") }}";
        StringBuilder xml = new StringBuilder(String.format("<%s id=\"%s\">", tag, getID()));
        xml.append(super.toXML());
        xml.append(String.format("</%s>", tag));
        return xml.toString();
    }

    @Override
    public String toString() {
        return "{{ class_name }}:" + getID();
    }

    {% for method in custom_methods %}
    /**
     * {{ method.description | default(value="Custom method") }}
     */
    {{ method.visibility | default(value="public") }} {{ method.return_type | default(value="void") }} {{ method.name }}({% for param in method.params %}{{ param.type }} {{ param.name }}{% if not loop.last %}, {% endif %}{% endfor %}) {
        {{ method.body | default(value="// Implementation required") }}
    }

    {% endfor %}
}
