{#
 YAWL Decomposition Template
 Generates YDecomposition subclass with parameters, attributes, and XML serialization.

 Context Variables:
   - class_name: Name of the generated class
   - package: Java package name
   - parent_class: Parent class (default: YDecomposition)
   - id: Decomposition identifier
   - parameters: Array of parameter objects with name, type, datatype, ordering, is_input, is_output
   - attributes: Array of attribute objects with name, value
   - output_expressions: Array of XPath output expressions
   - has_codelet: boolean for codelet support
   - has_log_predicate: boolean for logging predicate
   - external_interaction: boolean for manual interaction requirement
   - custom_imports: Array of additional import statements
 #}
/*
 * Copyright (c) 2004-{{ "now" | date(format="%Y") }} The YAWL Foundation. All rights reserved.
 * The YAWL Foundation is a collaboration of individuals and
 * organisations who are committed to improving workflow technology.
 *
 * This file is part of YAWL. YAWL is free software: you can
 * redistribute it and/or modify it under the terms of the GNU Lesser
 * General Public License as published by the Free Software Foundation.
 *
 * YAWL is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
 * or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General
 * Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with YAWL. If not, see <http://www.gnu.org/licenses/>.
 */

package {{ package }};

import org.jdom2.Document;
import org.jdom2.Element;
import org.yawlfoundation.yawl.elements.YDecomposition;
import org.yawlfoundation.yawl.elements.YSpecification;
import org.yawlfoundation.yawl.elements.data.YParameter;
import org.yawlfoundation.yawl.engine.YNetData;
import org.yawlfoundation.yawl.engine.YPersistenceManager;
import org.yawlfoundation.yawl.exceptions.YPersistenceException;
import org.yawlfoundation.yawl.logging.YLogPredicate;
import org.yawlfoundation.yawl.util.DynamicValue;
import org.yawlfoundation.yawl.util.JDOMUtil;
import org.yawlfoundation.yawl.util.StringUtil;
import org.yawlfoundation.yawl.util.YVerificationHandler;

import java.util.*;

/**
 * {{ class_name }} - Auto-generated YAWL Decomposition
 *
{% if documentation %}
 * {{ documentation }}
{% endif %}
 *
 * @generated by yawl-java-templates
 */
public class {{ class_name }} extends {{ parent_class | default(value="YDecomposition") }} implements Cloneable, YVerifiable {

    {% for param in parameters %}
    private {{ param.type | default(value="String") }} _{{ param.name }};
    {% endfor %}

    {% for attr in attributes %}
    private String _{{ attr.name }};
    {% endfor %}

    {% if has_codelet %}
    private String _codelet;
    {% endif %}

    {% if has_log_predicate %}
    private YLogPredicate _logPredicate;
    {% endif %}

    private boolean _manualInteraction = {{ external_interaction | default(value=true) }};

    // CONSTRUCTOR //

    public {{ class_name }}(String id, YSpecification specification) {
        super(id, specification);
        initializeParameters();
    }

    private void initializeParameters() {
        {% for param in parameters %}
        {% if param.initial_value %}
        _{{ param.name }} = {{ param.initial_value }};
        {% endif %}
        {% endfor %}
    }

    /******************************************************************************/

    // GETTERS & SETTERS //

    {% for param in parameters %}
    /**
     * Gets the {{ param.name }} parameter value.
     * @return the {{ param.name }} value
     */
    public {{ param.type | default(value="String") }} get{{ param.name | capitalize }}() {
        return _{{ param.name }};
    }

    /**
     * Sets the {{ param.name }} parameter value.
     * @param {{ param.name }} the {{ param.name }} value to set
     */
    public void set{{ param.name | capitalize }}({{ param.type | default(value="String") }} {{ param.name }}) {
        _{{ param.name }} = {{ param.name }};
    }

    {% endfor %}

    {% for attr in attributes %}
    /**
     * Gets the {{ attr.name }} attribute.
     * @return the {{ attr.name }} attribute value
     */
    public String get{{ attr.name | capitalize }}() {
        return _{{ attr.name }};
    }

    /**
     * Sets the {{ attr.name }} attribute.
     * @param {{ attr.name }} the {{ attr.name }} attribute value to set
     */
    public void set{{ attr.name | capitalize }}(String {{ attr.name }}) {
        _{{ attr.name }} = {{ attr.name }};
    }

    {% endfor %}

    {% if has_codelet %}
    public String getCodelet() {
        return _codelet;
    }

    public void setCodelet(String codelet) {
        _codelet = codelet;
    }
    {% endif %}

    {% if has_log_predicate %}
    public YLogPredicate getLogPredicate() {
        return _logPredicate;
    }

    public void setLogPredicate(YLogPredicate predicate) {
        _logPredicate = predicate;
    }
    {% endif %}

    public void setExternalInteraction(boolean interaction) {
        _manualInteraction = interaction;
    }

    public boolean requiresResourcingDecisions() {
        return _manualInteraction;
    }

    /******************************************************************************/

    // XML SERIALIZATION //

    @Override
    public String toXML() {
        StringBuilder xml = new StringBuilder();

        if (getName() != null) {
            xml.append(StringUtil.wrapEscaped(getName(), "name"));
        }
        if (getDocumentation() != null) {
            xml.append(StringUtil.wrapEscaped(getDocumentation(), "documentation"));
        }

        // Input parameters
        xml.append(parameterMapToXML(getInputParameters()));

        // Output expressions
        {% for expr in output_expressions %}
        xml.append("<outputExpression query=\"")
           .append(JDOMUtil.encodeEscapes("{{ expr }}"))
           .append("\"/>");
        {% endfor %}

        // Output parameters
        xml.append(parameterMapToXML(getOutputParameters()));

        {% if has_log_predicate %}
        if (_logPredicate != null) {
            xml.append(_logPredicate.toXML());
        }
        {% endif %}

        return xml.toString();
    }

    private String parameterMapToXML(Map<String, YParameter> paramMap) {
        StringBuilder result = new StringBuilder();
        List<YParameter> parameters = new ArrayList<>(paramMap.values());
        Collections.sort(parameters);
        for (YParameter parameter : parameters) {
            result.append(parameter.toXML());
        }
        return result.toString();
    }

    /******************************************************************************/

    // VERIFICATION //

    @Override
    public void verify(YVerificationHandler handler) {
        if (getID() == null) {
            handler.error(this, this + " cannot have null id.");
        }

        for (YParameter param : getInputParameters().values()) {
            param.verify(handler);
        }

        for (YParameter param : getOutputParameters().values()) {
            param.verify(handler);
        }
    }

    /******************************************************************************/

    // CLONE //

    @Override
    public Object clone() throws CloneNotSupportedException {
        {{ class_name }} copy = ({{ class_name }}) super.clone();

        {% for param in parameters %}
        {% if param.type == "String" or param.type == "String[]" %}
        // String is immutable, no deep copy needed
        {% else %}
        copy._{{ param.name }} = _{{ param.name }}; // Shallow copy - override if deep copy needed
        {% endif %}
        {% endfor %}

        return copy;
    }

    @Override
    public String toString() {
        return "{{ class_name }}:" + getID();
    }
}
