{#
 YAWL Hibernate Entity Template
 Generates Hibernate entity classes with getters/setters, equals/hashCode, and persistence annotations.

 Context Variables:
   - class_name: Name of the generated entity class
   - package: Java package name
   - table_name: Database table name
   - id_field: Object with name, type, generator strategy
   - fields: Array of field objects with name, type, column, nullable, unique, length
   - many_to_one: Array of many-to-one relationships
   - one_to_many: Array of one-to-many relationships
   - has_version: boolean for optimistic locking version field
   - has_custom_toString: boolean for custom toString format
 #}
/*
 * Copyright (c) 2004-{{ "now" | date(format="%Y") }} The YAWL Foundation. All rights reserved.
 * The YAWL Foundation is a collaboration of individuals and
 * organisations who are committed to improving workflow technology.
 *
 * This file is part of YAWL. YAWL is free software: you can
 * redistribute it and/or modify it under the terms of the GNU Lesser
 * General Public License as published by the Free Software Foundation.
 *
 * YAWL is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
 * or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General
 * Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with YAWL. If not, see <http://www.gnu.org/licenses/>.
 */

package {{ package }};

import jakarta.persistence.*;
import java.io.Serializable;
import java.time.Instant;
import java.util.Objects;

/**
 * {{ class_name }} - Auto-generated Hibernate Entity
 *
{% if description %}
 * {{ description }}
{% endif %}
 *
 * @generated by yawl-java-templates
 */
@Entity
@Table(name = "{{ table_name | default(value=class_name | snake_case) }}")
public class {{ class_name }} implements Serializable {

    private static final long serialVersionUID = 1L;

    {% if id_field %}
    // PRIMARY KEY //

    @Id
    {% if id_field.generator == "uuid" %}
    @GeneratedValue(strategy = GenerationType.UUID)
    {% elif id_field.generator == "identity" %}
    @GeneratedValue(strategy = GenerationType.IDENTITY)
    {% elif id_field.generator == "sequence" %}
    @GeneratedValue(strategy = GenerationType.SEQUENCE, generator = "{{ id_field.name }}_seq")
    @SequenceGenerator(name = "{{ id_field.name }}_seq", sequenceName = "{{ id_field.name }}_sequence")
    {% elif id_field.generator == "auto" %}
    @GeneratedValue(strategy = GenerationType.AUTO)
    {% endif %}
    @Column(name = "{{ id_field.column | default(value=id_field.name) }}"{% if id_field.unique %}, unique = true{% endif %})
    private {{ id_field.type | default(value="Long") }} {{ id_field.name }};

    {% endif %}

    {% if has_version %}
    // OPTIMISTIC LOCKING //

    @Version
    @Column(name = "version")
    private Long version;

    {% endif %}

    // FIELDS //

    {% for field in fields %}
    {% if field.type == "Instant" or field.type == "LocalDateTime" or field.type == "LocalDate" %}
    @Temporal(TemporalType.{% if field.type == "LocalDate" %}DATE{% else %}TIMESTAMP{% endif %})
    {% endif %}
    @Column(
        name = "{{ field.column | default(value=field.name) }}"
        {% if field.nullable is defined and not field.nullable %}, nullable = false{% endif %}
        {% if field.unique is defined and field.unique %}, unique = true{% endif %}
        {% if field.length %}, length = {{ field.length }}{% endif %}
    )
    private {{ field.type }} {{ field.name }};

    {% endfor %}

    // RELATIONSHIPS //

    {% for rel in many_to_one %}
    @ManyToOne(fetch = FetchType.{{ rel.fetch | default(value="LAZY") }})
    @JoinColumn(
        name = "{{ rel.join_column | default(value=rel.name + "_id") }}"
        {% if rel.nullable is defined and not rel.nullable %}, nullable = false{% endif %}
    )
    private {{ rel.entity }} {{ rel.name }};

    {% endfor %}

    {% for rel in one_to_many %}
    @OneToMany(
        mappedBy = "{{ rel.mapped_by }}",
        cascade = CascadeType.{% if rel.cascade_all %}ALL{% else %}{{ rel.cascade | default(value="PERSIST") }}{% endif %},
        fetch = FetchType.{{ rel.fetch | default(value="LAZY") }},
        orphanRemoval = {% if rel.orphan_removal %}true{% else %}false{% endif %}
    )
    private java.util.Set<{{ rel.entity }}> {{ rel.name }} = new java.util.HashSet<>();

    {% endfor %}

    // CONSTRUCTORS //

    public {{ class_name }}() {
        // Default constructor for JPA
    }

    {% if id_field %}
    public {{ class_name }}({{ id_field.type | default(value="Long") }} {{ id_field.name }}) {
        this.{{ id_field.name }} = {{ id_field.name }};
    }
    {% endif %}

    /******************************************************************************/

    // GETTERS & SETTERS //

    {% if id_field %}
    public {{ id_field.type | default(value="Long") }} get{{ id_field.name | capitalize }}() {
        return {{ id_field.name }};
    }

    public void set{{ id_field.name | capitalize }}({{ id_field.type | default(value="Long") }} {{ id_field.name }}) {
        this.{{ id_field.name }} = {{ id_field.name }};
    }

    {% endif %}

    {% if has_version %}
    public Long getVersion() {
        return version;
    }

    public void setVersion(Long version) {
        this.version = version;
    }

    {% endif %}

    {% for field in fields %}
    /**
     * Gets the {{ field.name }}.
     * @return the {{ field.name }}
     */
    public {{ field.type }} get{{ field.name | capitalize }}() {
        return {{ field.name }};
    }

    /**
     * Sets the {{ field.name }}.
     * @param {{ field.name }} the {{ field.name }} to set
     */
    public void set{{ field.name | capitalize }}({{ field.type }} {{ field.name }}) {
        this.{{ field.name }} = {{ field.name }};
    }

    {% endfor %}

    {% for rel in many_to_one %}
    public {{ rel.entity }} get{{ rel.name | capitalize }}() {
        return {{ rel.name }};
    }

    public void set{{ rel.name | capitalize }}({{ rel.entity }} {{ rel.name }}) {
        this.{{ rel.name }} = {{ rel.name }};
    }

    {% endfor %}

    {% for rel in one_to_many %}
    public java.util.Set<{{ rel.entity }}> get{{ rel.name | capitalize }}() {
        return {{ rel.name }};
    }

    public void set{{ rel.name | capitalize }}(java.util.Set<{{ rel.entity }}> {{ rel.name }}) {
        this.{{ rel.name }} = {{ rel.name }};
    }

    public void add{{ rel.singular | default(value=rel.entity) }}({{ rel.entity }} item) {
        {{ rel.name }}.add(item);
        {% if rel.mapped_by %}
        item.set{{ rel.mapped_by | capitalize }}(this);
        {% endif %}
    }

    public void remove{{ rel.singular | default(value=rel.entity) }}({{ rel.entity }} item) {
        {{ rel.name }}.remove(item);
        {% if rel.mapped_by %}
        item.set{{ rel.mapped_by | capitalize }}(null);
        {% endif %}
    }

    {% endfor %}

    /******************************************************************************/

    // EQUALS & HASHCODE //

    @Override
    public boolean equals(Object o) {
        if (this == o) return true;
        if (o == null || getClass() != o.getClass()) return false;

        {{ class_name }} that = ({{ class_name }}) o;

        {% if id_field %}
        if ({{ id_field.name }} == null) {
            return false;
        }
        return Objects.equals({{ id_field.name }}, that.{{ id_field.name }});
        {% else %}
        {% if fields %}
        return Objects.equals({{ fields[0].name }}, that.{{ fields[0].name }});
        {% else %}
        return false;
        {% endif %}
        {% endif %}
    }

    @Override
    public int hashCode() {
        {% if id_field %}
        return {{ id_field.name }} != null ? {{ id_field.name }}.hashCode() : 0;
        {% else %}
        {% if fields %}
        return {{ fields[0].name }} != null ? {{ fields[0].name }}.hashCode() : 0;
        {% else %}
        return getClass().hashCode();
        {% endif %}
        {% endif %}
    }

    /******************************************************************************/

    // TO STRING //

    @Override
    public String toString() {
        {% if has_custom_toString %}
        return toCustomString();
        {% else %}
        return "{{ class_name }}{" +
        {% if id_field %}
                "{{ id_field.name }}=" + {{ id_field.name }} +
        {% endif %}
        {% for field in fields %}
                ", {{ field.name }}='" + {{ field.name }} + '\'' +
        {% endfor %}
                '}';
        {% endif %}
    }

    {% if has_custom_toString %}
    protected String toCustomString() {
        // Override in subclass for custom toString format
        return super.toString();
    }
    {% endif %}
}
