{#
 YAWL Exception Template
 Generates exception classes with context, troubleshooting guidance, and XML serialization.

 Context Variables:
   - class_name: Name of the generated exception class
   - package: Java package name
   - parent_class: Parent exception class (default: YAWLException)
   - error_code: Optional error code constant
   - has_context: boolean for contextual information support
   - has_troubleshooting: boolean for troubleshooting guidance
   - has_xml_serialization: boolean for XML toXML() method
   - additional_fields: Array of additional field definitions
 #}
/*
 * Copyright (c) 2004-{{ "now" | date(format="%Y") }} The YAWL Foundation. All rights reserved.
 * The YAWL Foundation is a collaboration of individuals and
 * organisations who are committed to improving workflow technology.
 *
 * This file is part of YAWL. YAWL is free software: you can
 * redistribute it and/or modify it under the terms of the GNU Lesser
 * General Public License as published by the Free Software Foundation.
 *
 * YAWL is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
 * or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General
 * Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with YAWL. If not, see <http://www.gnu.org/licenses/>.
 */

package {{ package }};

{% if has_xml_serialization is defined and has_xml_serialization %}
import org.jdom2.Document;
import org.jdom2.JDOMException;
import org.jdom2.input.SAXBuilder;
{% endif %}

import java.util.HashMap;
import java.util.Map;

/**
 * {{ class_name }} - Auto-generated YAWL Exception
 *
{% if description %}
 * {{ description }}
{% endif %}
 *
{% if error_code %}
 * Error Code: {{ error_code }}
{% endif %}
 *
 * @generated by yawl-java-templates
 */
public class {{ class_name }} extends {{ parent_class | default(value="YAWLException") }} {

    {% if error_code %}
    public static final String ERROR_CODE = "{{ error_code }}";
    {% endif %}

    {% if has_xml_serialization is defined and has_xml_serialization %}
    protected static SAXBuilder _builder = new SAXBuilder();
    {% endif %}

    {% if has_context is defined and has_context %}
    private final Map<String, String> _context = new HashMap<>();
    {% endif %}

    {% if has_troubleshooting is defined and has_troubleshooting %}
    private String _troubleshootingGuide;
    {% endif %}

    {% for field in additional_fields %}
    private {{ field.type }} _{{ field.name }};
    {% if field.default_value is defined %}
    = {{ field.default_value }};
    {% endif %}

    {% endfor %}

    protected String _message;

    public static final String MESSAGE_NM = "message";

    // CONSTRUCTORS //

    public {{ class_name }}() {
        super();
    }

    public {{ class_name }}(String message) {
        super(message);
        _message = message;
    }

    public {{ class_name }}(Throwable cause) {
        super(cause);
    }

    public {{ class_name }}(String message, Throwable cause) {
        super(message, cause);
        _message = message;
    }

    /******************************************************************************/

    // MESSAGE ACCESSORS //

    @Override
    public String getMessage() {
        return _message;
    }

    public void setMessage(String message) {
        _message = message;
    }

    /******************************************************************************/

    {% if has_context is defined and has_context %}
    // CONTEXT MANAGEMENT //

    /**
     * Adds contextual information to this exception.
     * @param key the context key
     * @param value the context value
     * @return this exception for method chaining
     */
    public {{ class_name }} withContext(String key, String value) {
        _context.put(key, value);
        return this;
    }

    /**
     * Gets the contextual information associated with this exception.
     * @return an immutable copy of the context map
     */
    public Map<String, String> getContext() {
        return new HashMap<>(_context);
    }

    {% endif %}

    {% if has_troubleshooting is defined and has_troubleshooting %}
    // TROUBLESHOOTING //

    /**
     * Adds troubleshooting guidance to this exception.
     * @param guide the troubleshooting guidance message
     * @return this exception for method chaining
     */
    public {{ class_name }} withTroubleshootingGuide(String guide) {
        _troubleshootingGuide = guide;
        return this;
    }

    /**
     * Gets the troubleshooting guidance for this exception.
     * @return the troubleshooting guidance, or null if not set
     */
    public String getTroubleshootingGuide() {
        return _troubleshootingGuide;
    }

    {% endif %}

    {% for field in additional_fields %}
    // {{ field.name | capitalize }} ACCESSORS //

    /**
     * Gets the {{ field.name }} value.
     * @return the {{ field.name }}
     */
    public {{ field.type }} get{{ field.name | capitalize }}() {
        return _{{ field.name }};
    }

    /**
     * Sets the {{ field.name }} value.
     * @param {{ field.name }} the {{ field.name }} to set
     */
    public void set{{ field.name | capitalize }}({{ field.type }} {{ field.name }}) {
        _{{ field.name }} = {{ field.name }};
    }

    {% endfor %}

    /******************************************************************************/

    {% if has_xml_serialization is defined and has_xml_serialization %}
    // XML SERIALIZATION //

    public String toXML() {
        return "<" + this.getClass().getName() + ">" +
                toXMLGuts() +
                "</" + this.getClass().getName() + ">";
    }

    protected String toXMLGuts() {
        StringBuilder xml = new StringBuilder();
        xml.append("<message>").append(escapeXML(getMessage())).append("</message>");

        {% if error_code %}
        xml.append("<errorCode>").append(ERROR_CODE).append("</errorCode>");
        {% endif %}

        {% if has_context is defined and has_context %}
        if (!_context.isEmpty()) {
            xml.append("<context>");
            for (Map.Entry<String, String> entry : _context.entrySet()) {
                xml.append("<entry key=\"").append(escapeXML(entry.getKey()))
                   .append("\" value=\"").append(escapeXML(entry.getValue())).append("\"/>");
            }
            xml.append("</context>");
        }
        {% endif %}

        {% if has_troubleshooting is defined and has_troubleshooting %}
        if (_troubleshootingGuide != null) {
            xml.append("<troubleshooting>").append(escapeXML(_troubleshootingGuide))
               .append("</troubleshooting>");
        }
        {% endif %}

        {% for field in additional_fields %}
        if (_{{ field.name }} != null) {
            xml.append("<{{ field.name }}>").append(escapeXML(String.valueOf(_{{ field.name }})))
               .append("</{{ field.name }}>");
        }
        {% endfor %}

        return xml.toString();
    }

    private String escapeXML(String input) {
        if (input == null) return "";
        return input.replace("&", "&amp;")
                    .replace("<", "&lt;")
                    .replace(">", "&gt;")
                    .replace("\"", "&quot;")
                    .replace("'", "&apos;");
    }

    /**
     * Unmarshals an exception from XML document.
     * @param exceptionDoc the XML document
     * @return the unmarshaled exception
     */
    public static {{ class_name }} unmarshal(Document exceptionDoc) {
        {{ class_name }} exception = new {{ class_name }}();
        exception.setMessage(parseMessage(exceptionDoc));
        return exception;
    }

    protected static String parseMessage(Document exceptionDoc) {
        return exceptionDoc.getRootElement().getChildText(MESSAGE_NM);
    }

    {% endif %}

    /******************************************************************************/

    // TO STRING //

    @Override
    public String toString() {
        StringBuilder sb = new StringBuilder();
        sb.append(super.toString());

        {% if error_code %}
        sb.append("\nError Code: ").append(ERROR_CODE);
        {% endif %}

        {% if has_context is defined and has_context %}
        if (!_context.isEmpty()) {
            sb.append("\nContext: ").append(_context);
        }
        {% endif %}

        {% if has_troubleshooting is defined and has_troubleshooting %}
        if (_troubleshootingGuide != null) {
            sb.append("\nTroubleshooting: ").append(_troubleshootingGuide);
        }
        {% endif %}

        {% for field in additional_fields %}
        if (_{{ field.name }} != null) {
            sb.append("\n{{ field.name | capitalize }}: ").append(_{{ field.name }});
        }
        {% endfor %}

        return sb.toString();
    }
}
