{erl_opts, [
    debug_info,
    warnings_as_errors,
    {platform_define, "^(16|17|18|19|20)$", 'OTP_20_PLUS'},
    {platform_define, "^(17|18|19|20)$", 'OTP_17_PLUS'},
    {platform_define, "^(18|19|20)$", 'OTP_18_PLUS'}
]}.

{deps, [
    {telemetry, "1.2.0"},
    {lager, "3.9.2"},
    {mnesia, "4.20.0"},
    {uuid, "2.0.2"}
]}.

{profiles, [
    {test, [
        {deps, [
            {meck, "0.8.13"},
            {proper, "1.4.0"}
        ]}
    ]},
    {prod, [
        {deps, [
            {syslog, "3.1"},
            {goldrush, "0.1.9"}
        ]}
    ]}
]}.

{cover_enabled, true}.

{cover_export_dir, "cover"}.

{plugins, [
    {rebar3_hex, {git, "https://github.com/hexpm/rebar3_hex", {tag, "v1.0.0"}}},
    {rebar3_fmt, {git, "https://github.com/lycus/rebar3_fmt", {tag, "v1.0.0"}}}
]}.

{hex, [{repo_url, "https://hex.pm"}]}.

{xref_checks, [undefined_function_calls, undefined_functions, fail_on_warning, deprecated_functions_calls]}.

{dialyzer, [
    {warnings, [no_missing_transitives]},
    {plt_extra_apps, [kernel, stdlib, mnesia, lager, telemetry]}
]}.