<?xml version="1.0" encoding="UTF-8"?>
<specificationSet xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.yawlfoundation.org/yawlschema">
  <specification name="{{ agentName|replace(' ', '_') }}_Workflow">
    <task id="task_{{ agentName|replace(' ', '_')|lower }}">
      <name>{{ agentName }} - Phase {{ phase }}</name>
      <documentation>Role: {{ agentRole }}</documentation>
    </task>
  </specification>
</specificationSet>
