apiVersion: v1
kind: Namespace
metadata:
  name: yawl
  labels:
    app.kubernetes.io/name: yawl
    app.kubernetes.io/component: namespace
    app.kubernetes.io/version: "5.2"
    app.kubernetes.io/managed-by: kustomize
  annotations:
    scheduler.alpha.kubernetes.io/defaultTolerations: "[]"
    scheduler.alpha.kubernetes.io/tolerationsWhitelist: "[]"
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: yawl-service-account
  namespace: yawl
  labels:
    app.kubernetes.io/name: yawl
    app.kubernetes.io/component: shared-service-account
    app.kubernetes.io/version: "5.2"
automountServiceAccountToken: false
