apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-postgresql-auth
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: postgresql
    app.kubernetes.io/instance: {{ .Release.Name }}
type: Opaque
stringData:
  postgres-password: {{ .Values.auth.postgresPassword | quote }}
  password: {{ .Values.auth.password | quote }}
