apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-redis-config
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: redis
    app.kubernetes.io/instance: {{ .Release.Name }}
data:
  redis.conf: |
    bind 0.0.0.0
    port 6379
{{ .Values.master.configuration | indent 4 }}
    {{- if .Values.auth.enabled }}
    requirepass ${REDIS_PASSWORD}
    {{- end }}
